@model Assign1.Models.Cutomers

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cutomers</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CustomerId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProvId" class="control-label"></label>
                <select asp-for="ProvId" class="form-control" asp-items="ViewBag.ProvId"></select>
                <span asp-validation-for="ProvId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WarrentyId" class="control-label"></label>
                <select asp-for="WarrentyId" class="form-control" asp-items="ViewBag.WarrentyId"></select>
                <span asp-validation-for="WarrentyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarMakeId" class="control-label"></label>
                <select asp-for="CarMakeId" class="form-control" asp-items="ViewBag.CarMakeId"></select>
                <span asp-validation-for="CarMakeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarModelId" class="control-label"></label>
                <select asp-for="CarModelId" class="form-control" asp-items="ViewBag.CarModelId"></select>
                <span asp-validation-for="CarModelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarYear" class="control-label"></label>
                <input asp-for="CarYear" class="form-control" />
                <span asp-validation-for="CarYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VIN" class="control-label"></label>
                <input asp-for="VIN" class="form-control" />
                <span asp-validation-for="VIN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
