@{
    ViewData["Title"] = "Kar Care";
}
<div class="text-center">
    <h3 class="">Welcome to Kar Care - The one Stop Shop for your Extended Warrenty!</h3>
    <br />
    <p>Kar Care aims to provide the best aftermarket Automobile Warrenties on the Planet!</p>
    <br />
    <p>To find out more about our Products and Services please have a look around.</p>
    <br />
    <p>If you need some more help please use the contact form and One of our Warrenty Car Care Representatives will get back to you within 1 Hour.</p>
    <br />
    <p>This site is built with ASP.NET MVC 5 .core, and MS Sql Backend Database.</p>
</div>
